body{
    background-color: #ffffff;
    --gap: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    h1, h2, h3, h4, h5, h6, p, br{
        margin: 0;
        padding: 0.25rem 0;
    }
    em, strong, del, ins, abbr, dfn, cite, pre, code, var, kbd, samp, bdo{
        padding: 0;
        margin: 0;
    }
    div, span{
        box-shadow: 0 0.125rem 0.25rem #aaa;
        min-width: 1rem;
        min-height: 1rem;
        margin: var(--gap);
        padding: var(--gap);
    }
    blockquote{
        white-space: pre;
        letter-spacing: 0.125rem;
        font-size: 0.875rem;
        margin: var(--gap) 2.5rem;
        padding: var(--gap);
        border-radius: var(--gap);
        box-shadow: 0.125rem 0.125rem 0.25rem #aaa;
    }
    q{
        letter-spacing: 0.125rem;
        font-size: 0.875rem;
        margin: var(--gap);
        padding: var(--gap);
        border-radius: var(--gap);
        box-shadow: 0.125rem 0.125rem 0.25rem #aaa;
    }
    code{
        display: block;
        white-space: pre;
        font-family: monospace;
        font-size: 0.875rem;
        background-color: #c2c2c2;
        color: var(--codetx);
        border-radius: var(--gap);
        margin: var(--gap) 2.5rem;
        padding: var(--gap);
        box-shadow: 0.125rem 0.125rem 0.25rem #aaa;
    }
    input{
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: var(--gap);
        border: none;
        margin: var(--gap);
        padding: var(--gap);
        box-shadow: 0.125rem 0.125rem 0.25rem #aaa;
        font-size: 1rem;
        cursor: text;
        background-color: #fafafa;
    }
    input[type="button"], input[type="submit"], input[type="image"]{
        margin: calc(var(--gap) * 2);
        padding: calc(var(--gap) * 2);
        cursor: pointer;
    }
    input[type="checkbox"]{
        height: 1rem;
        width: 1rem;
        border-radius: 0.125rem;
        padding: 0;
        margin: 1px var(--gap);
        cursor: pointer;
    }
    input[type="color"]{
        height: 1rem;
        width: 3rem;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    input[type="radio"]{
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
        padding: 0;
        margin: 1px var(--gap);
        background: transparent;
        box-shadow: none;
        cursor: pointer;
    }
    input[type="range"]{
        min-width: 2rem;
        width: 10rem;
        box-shadow: none;
        cursor: pointer;
    }
    textarea{
        min-width: 10rem;
        min-height: 5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1rem;
        border-radius: var(--gap);
        border: none;
        margin: var(--gap);
        padding: var(--gap);
        box-shadow: 0.125rem 0.125rem 0.25rem #aaa;
    }
}